# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# Local settings / secrets
data_handling_settings.json

# Output folders (potentially large)
output/
input/
RESULTS*/


# Windows
*.lnk
Thumbs.db
desktop.ini

# Excel / temp
~$*.xlsx
*.xlsb
config/data_handling_settings_CDL.json
